header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 40px 80px;
}

.footer {
    width: 20%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.button1 {
    background-color: inherit;
    box-sizing: border-box;
    vertical-align: middle;
    width: 150px;
    height: 44px;
    border-radius: 3px;
    border: solid #F7941E;
    color: #F7941E;
}

.button1:hover {
    background-color: #F7941E;
    color: white;
}

.main1 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.main1one {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main1one1 {
    width: 60%;;

}

.main1one h1 {
    font-size: 56px;
    line-height: 68px;
}

.main1 p {
    margin-top: 35px;
    margin-bottom: 52px;
}

.button2 button {
    padding: 20PX 25px;
    font-size: 18px;
    border-radius: 3px;
    background-color: inherit;
    border: 1px solid #F7941E;
    color: #F7941E;
    text-transform: uppercase;

}

.button2 button:hover {
    background-color: #F7941E;
    color: white;
}

.main1two {
    width: 50%;
}

.main1two img {
    width: 100%;
    height: 100%;
}

.main2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.main2one {
    width: 50%;
}

.main1one img {
    width: 100%;
}

.main2one img {
    width: 100%;
    height: 100%;
}

.main2two {
    width: 50%;

}

.main2three {
    margin: 164px 166px 104px 103px;

}

.pone {
    font-size: 32px;
    font-family: Gilroy;
}

.ptwo {
    margin-bottom: 35px;
    margin-top: 23px;
    font-size: 20px;
    text-align: justify;
}

.main3 {
    width: 80%;
    margin: 0 auto;
}

.gift {
    text-align: center;
    font-weight: lighter;
    margin-top:3%;
}

.try {
    text-align: center;
    font-weight: lighter;
}

.main3one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.qwe{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divt{
    margin-left: 5%;
}
.main31:hover {
    box-shadow: -3px 3px 10px 1px black;
}
.text2{
padding-top: 30%;
margin-left: 5%;
}


.main4 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: #F7941E;
    margin-top: 7%;
    padding:4% ;
}

.main41 {
    display: flex;
    align-items: center;
    padding: auto;

}

.main4one1 {
    font-size: 32px;
    font-weight: 1000;
}

.main4one2 {
    font-size: 32px;
    
}

.main4two1 button {
    padding: 14px 25px;
    font-size: 18px;
    border-radius: 3px;
    background-color: black;
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    margin-left: 200px;
}

.main4two1 :hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.main4two2 button {
    padding: 14px 25px;
    font-size: 18px;
    border-radius: 3px;
    background-color: #F7941E;
    border: 1px solid #000000;
    color: black;
    margin-left: 16px;
}

.main4two2 :hover {
    background-color: black;
    color: #F7941E;
}

.main5 {
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    padding-left: 9%;

}

.main5one {
    display: flex;
    box-sizing: border-box;
    background-color: #231F20;
    width: 90%;
    align-items: center;


}

.main5text1 {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.main5text2 {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}

.main5text3 {
    font-size: 20px;
    color: white;
}

.main5text4 {
    font-size: 48px;
    width: 490px;
    font-weight: lighter;
    color: white;
}

.main5text5 {
    font-size: 18px;
    color: white;
}

.main5one2 {
padding-left: 6%;}

.main5two1 {
    display: flex;
    box-sizing: border-box;
    width: 90%;
    justify-content: space-between;
    margin-top: 3%;
}

.main5two2 {
    width: 49%;
}

.main5two3 {
    width: 49%;
}

.main5text21 {
    font-size: 24px;
    margin-left: 8%;
}

.main5text22 {
    margin-left: 8%;
    font-size: 18px;
    margin-left: 8%;
    font-weight: lighter;
}

.main5text23 {
    margin-left: 8%;
    font-size: 14px;
    margin-left: 8%;
    font-weight: lighter;
}

.main5text31 {
    font-size: 24px;
    margin-left: 8%;
    margin-right: 8%;
}

.main5text32 {
    font-size: 18px;
    margin-left: 8%;
    font-weight: lighter;
}

.main5text33 {
    font-size: 14px;
    margin-left: 8%;
    font-weight: lighter;
}

.main5two2:hover {
    box-shadow: -3px 3px 10px 1px black;
}

.main5two3:hover {
    box-shadow: -3px 3px 10px 1px black;
}

.main6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;

}

.main6one1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 5%;
}

.footerone3 {
    list-style-type: none;
}

.footerone1 {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.footerone3 {
    padding-right: 55%;
}

.footerone2 {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.liniya {
    width: 65%;
    margin-top: 2%;
    background-color:#000000;
}

.main6one2 {
    gap: 10%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.main6one3 {
    display: flex;
    justify-content: space-around;
    width: 16%;
    margin-top: 3%;
}


/*Iphone*/
@media screen and (max-width: 400px){
.footer {
    display: none;
}
header{
    padding: 0;
}
.button1{
    height: auto;
    width: auto;
    padding: 1%;
}
.main1{
    flex-direction: column-reverse;
}
.main1two{
    width: 100%;
}
.main1one{
    width: 100%;
}
.main1one h1{
    font-size: 32px;
    line-height: 40px;
}
.main1 p{
    margin-top: 0;
    margin-bottom: 12%;
}
.button2 button{
    padding: 0;
    font-size: 13px;
}
.main2{
    flex-direction: column-reverse;
}
.main2two{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.main2three{
    margin: 0px;
    width: 60%;
}
.main2one{
    width: 100%;
    margin-top: 5%;
}
.button2{
    display: flex;
    justify-content: center;
}
.main3one {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text2 {
    padding-top: 20%;
    margin-left: 5%;
    margin-bottom: 8%;
}
.main31{
    margin-bottom: 4%;
}

.main4two1 button {
    margin: 0;
} 
.main41{
    flex-direction: column;
}
.main4one1{
    font-weight: 100;
}
.main4two1 button{
    padding: 0;
    font-size: 15px;
    margin-top: 8%
}
.main4two2 button{
    padding: 0;
    font-size: 15px;
    margin-top: 8%;
    margin-left: 0;
}
.main5one{
    flex-direction: column;
    margin: auto;
    margin-bottom: 5%;


} 
.main5one2{
    padding: 0;
}
.main5one1{
    width: 100%;
}
.main5{
    padding: 0;
}
.main5one1 img{
    width: 100%;
}
.main5two1{
    margin: 0;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.main5two2{
    width: 100%;
    margin-bottom: 5%;
}
.main5two3{
    width: 100%;
}
.main5text4{
    width: auto;
    font-size: 3em;
}
.main5text21{
    font-size: 1.5em;
}
.main5text22{
    font-size: 1.2em;
}
.main5text23{
    font-size: 1em;
}
.main5text31{
    font-size: 1.5em;
}
.main5text32{
    font-size: 1.2em;
}
.main5text33{
    font-size: 1em;
}
.footerone3{
    padding: 0;
}
.footerone1{
    width: 25%;
    padding-right: 10%;
}
.footerone2{
    width: 25%;
    padding: 10%;
}
.main6one1{
    width: 100%;
margin: 0;}
.main6one2{
    gap: 5%;
    margin-top: 5%;
}
.main6one3{
    width: 100%;
}
}